<main>
  <div class="intro">
    <h1>Academia Nicu Dascalu</h1>
    <p>Antreneaza-ti corpul si mintea impreuna cu noi .</p>
    <button>Afla mai multe</button>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fa-solid fa-yin-yang"></i>
      <p class="work-heading">Disciplina</p>
      <p class="work-text">I have worked on many projects and I am very proud of them. I am a very good developer and I am always looking for new projects.</p>
    </div>
    <div class="work">
      <i class="fa-solid fa-brain"></i>
      <p class="work-heading">Determinare</p>
      <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p>
    </div>
    <div class="work">
      <i class="fa-solid fa-person-hiking"></i>
      <p class="work-heading">Perseverenta</p>
      <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>Nicu Dascalu</h2>
      <p>
        Pasiunea pentru acest sport a început in 2004, când am pășit pentru prima dată într-un DOJO iar de aici viața mea a luat o întorsătură radicală. Am devenit ceea ce nu credeam vreodată ca pot trăi, am învățat căci cu ambiția si determinarea necesară, poți răsturna munții.
        Dea lungul timpului am acumulat multă experiență competițională luptând in gale de KickBox și MMA la nivel de SemiPro, iar in Ashihara Karate cu un palmares de peste 30 de medalii, multiplu campion național atât la kata cât si la kumite, medaliat cu bronz la campionatele mondiale si europene, și rezultatele vor continua sa apară fiind încă activ la competiții.
        Dau cu plăcere toată învățătura și experiența, îmi place să îi motivez pe cei ce pășesc in arta sportului, încă din 2010 de când am început sa antrenez in cadrul Academiei  Nicu Dascălu
        Campionii nu mor niciodată.
      </p>
    </div>
    <img src="../../assets/images/nicu2.jpg" alt="me" style="height: 400px; width: auto;">
  </div>

  <div class="about-me">
    <img src="../../assets/images/iosif.jpg" alt="me" style="height: 500px; width: auto;">
    <div class="about-me-text">
      <h2>Iosif Pintican Dan</h2>
      <p>
        Adolescent fiind, am intrat pentru prima oara intr-un dojo de Ashihara Karate in toamna anului 1986. Antrenamentele conduse de cel care a adus acest stil in Romania, Sensei Carloganu Mircea, erau foarte severe, dar, cu toate acestea ma reintorceam in doja la fiecare antrenament din program. Experientele acumulate atunci, cand de multe ori pregatirea o faceam cu gandul de a nu fi descoperiti de catre organele de militie, deoarece in acea perioada sporturile de contact erau interzise, m-au intarit si m-au disciplinat astfel incat si astazi merg la dojo cu aceeasi pasiune.

        Academiei de Arte Martiale Nicu Dascalu m-am alaturat in anul 2018, iar de atunci transmit mai departe pasiunea mea pentru acest stil atat ca instructr cat si ca arbitru.
        Campionii nu mor niciodată.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <p><i class="fa fa-user"></i></p>
        <h3>11+</h3>
        <p>Antrenori</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <p><i class="fa fa-check"></i></p>
        <h3>55+</h3>
        <p>Sportivi</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <p><i class="fa fa-smile-o"></i></p>
        <h3>100+</h3>
        <p>Premii</p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <p><i class="fa fa-coffee"></i></p>
        <h3>100+</h3>
        <p>Meetings</p>
      </div>
    </div>
  </div>
</main>
